* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gold: #eadca6;
  --white: #f4f4f4;
  --bronze: #e2c275;
  --brown: #5a3f11;
}

body {
  display: grid;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #fdfaf5;
}

h1 {
  text-align: center;
  font-size: min(4vw, 4vh);
  margin: 3vmin;
}
.grid-container {
  width: min(64vw, 64vh);
  height: min(64vw, 64vh);
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  border: 1vmin solid var(--bronze);
  box-shadow: 1vmin 1vmin 1vmin var(--brown);
}

.grid-item {
  display: grid;
  place-items: center center;
  font-size: 5vmin;
}

.a {
  background-color: var(--gold);
}

.b {
  background-color: var(--white);
}
