* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.grid-container {
  width: min(64vw, 64vh);
  height: min(64vw, 64vh);
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  border: 1vmin solid #e2c275;
  box-shadow: 1vmin 1vmin 1vmin #5a3f11;
}

.grid-item {
  display: grid;
  place-items: center center;
  font-size: 5vmin;
}

.a {
  background-color: #eadca6;
}

.b {
  background-color: #f4f4f4;
}
